<h1>Simple Checkout</h1>
<form [formRoot]="form" class="checkout-form">

  <!-- 
    TASK 2: display the errors-banner below if the server error happens
            during the form submittion.
    HINT: the error 'kind' value for the server error is `serverError`
  -->
  <!-- <div class="errors-banner">
    <span class="error">__SERVER_ERROR_MESSAGE__</span>
  </div> -->

  <div class="form-field">
    <label for="name">Full Name</label>
    <input [formField]="form.fullName" id="name" placeholder="E.g Jane Doe" type="text" class="form-control" />
    @for (error of form.fullName().errors(); track error.kind) {
      <span class="error">{{error.message}}</span>
    }
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input [formField]="form.email" id="email" type="email" class="form-control" />
    @for (error of form.email().errors(); track error.kind) {
      <span class="error">{{error.message}}</span>
    }
  </div>

  <div class="form-field">
    <label for="itemCount">Item Count</label>
    <input [formField]="form.itemCount" id="itemCount" type="number" class="form-control" />
    @for (error of form.itemCount().errors(); track error.kind) {
      <span class="error">{{error.message}}</span>
    }
  </div>


  <section class="actions">
    <button type="submit" [disabled]="isSubmitting()">{{buttonText()}}</button>
  </section>
</form>